html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    background-color: #fefefe;
    user-select: none;
    cursor: default;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    max-width: 100%;
    margin-right: 20%;
    padding: 20px;
    z-index: 2;
}

.name {
    font-size: 2.5em;
    line-height: 0.68;
    letter-spacing: 1px;
}

.claim {
    margin-top: 20px;
    color: #A6AAA9;
}

.claim .text {
    font-weight: 600;
}

.claim .contact a {
    color: inherit;
    text-decoration: none;
}

.claim .contact a .mail {
    display: none;
}

.claim .contact:hover a .mail {
    display: inline;
}

.claim .contact a .link {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #c2c7c6;
}

.claim .contact:hover a .link {
    display: none;
}

.work {
    text-align: right;
}

.roles {
    color: #53585F;
}

.references, .social {
    margin-top: 10px;
    font-size: 0.8em;
    color: #A6AAA9;
}

.references a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #c2c7c6;
}

.social a {
    text-decoration: none;
    color: #535860;
}

.references a:hover, .social a:hover {
    color: #2C5364;
}

.decoration {
    position: absolute;
    left: -30px;
    right: -30px;
    transform: rotate(-1.5deg);
    width: 120%;
    height: 80px;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: #0F2027;
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    z-index: 3;
}

.decoration.top {
    top: -30px;
}

.decoration.bottom {
    bottom: -30px;
}

.background {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.portrait {
    height: 100%;
}

.logo {
    position: absolute;
    width: 90%;
    right: 5%;
    bottom: 96px;
}

@media only screen and (max-device-width : 480px) {
    .container {
        flex-direction: column;
        margin-right: 0;
    }

    .claim {
        margin-top: 10px;
    }

    .work {
        margin-top: 20%;
        text-align: center;
    }

    .references {
        font-size: 0.6em;
    }

    .portrait {
        opacity: 0.5;
    }

    .logo {
        display: none;
    }
}

.imprint {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 4;
}

.imprint a {
    color: #6c8199;
    font-size: 0.75em;
}

.content a {
    color: #2C5364;
}
