html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    background-color: #fefefe;
    user-select: none;
    cursor: default;
}

.container {
    width: 600px;
    max-width: 100%;
    margin-right: 20%;
    padding: 20px;
    z-index: 2;
}

.upper {
    font-size: 2.5em;
    line-height: 0.68;
    letter-spacing: 1px;
}

.lower {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.claim {
    color: #A6AAA9;
}

.claim .text {
    font-weight: 600;
}

.claim .link a {
    color: inherit;
    text-decoration: none;
}

.roles {
    color: #53585F;
}

.decoration {
    position: absolute;
    left: -30px;
    right: -30px;
    transform: rotate(-1.5deg);
    width: 120%;
    height: 80px;
    background-color: #b9c9e1;
    z-index: 3;
}

.decoration.top {
    top: -30px;
}

.decoration.bottom {
    bottom: -30px;
}

.portrait {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

@media only screen and (max-device-width : 480px) {
    .lower {
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .claim {
        margin-top: 10px;
    }

    .portrait {
        opacity: 0.5;
    }
}